N8N_VERSION=2.40.7

POSTGRES_USER=changeUser
POSTGRES_PASSWORD=changePassword
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=changeUser
POSTGRES_NON_ROOT_PASSWORD=changePassword

RUNNERS_AUTH_TOKEN=changeRunnerAuthToken

N8N_ENCRYPTION_KEY=changeEncryptionKey
GENERIC_TIMEZONE=Europe/Berlin
TZ=Europe/Berlin

N8N_UNVERIFIED_PACKAGES_ENABLED=false
N8N_RUNNERS_TASK_TIMEOUT=300
N8N_COMPRESSION_NODE_MAX_DECOMPRESSED_SIZE_BYTES=268435456
N8N_COMPRESSION_NODE_MAX_ZIP_ENTRIES=1000

N8N_HOST=n8n.example.com
N8N_PORT=5678
N8N_PROTOCOL=https
N8N_EDITOR_BASE_URL=https://n8n.example.com/
N8N_WEBHOOK_URL=https://n8n.example.com/
N8N_PROXY_HOPS=1
