N8N_VERSION=2.40.7

POSTGRES_USER=changeUser
POSTGRES_PASSWORD=changePassword
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=changeUser
POSTGRES_NON_ROOT_PASSWORD=changePassword

RUNNERS_AUTH_TOKEN=changeRunnerAuthToken

N8N_ENCRYPTION_KEY=changeEncryptionKey
GENERIC_TIMEZONE=Europe/Berlin
TZ=Europe/Berlin
